on init
    # Notification LED
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/breath
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/breath
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/delay_on
    chown system system /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/delay_on
    chown system system /sys/class/leds/blue/delay_off

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.X01AD
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical
    writepid /dev/cpuset/system-background/tasks
