#
# Copyright (C) 2021 The Android Open-Source Project
# Copyright (C) 2021 The LineageOS Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

on early-init
    write /proc/sys/kernel/sched_boost 1

on init
    write /sys/module/lpm_levels/parameters/sleep_disabled Y

    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

    # Set up schedtune
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.colocate 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0

    # disable thermal & BCL core_control
    write /sys/module/msm_thermal/core_control/enabled 0

    # bring CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1363200
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load 85
    #write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    #write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000

    # sched_load_boost as -6 is equivalent to target load as 85.
    write /sys/devices/system/cpu/cpu0/sched_load_boost -6
    write /sys/devices/system/cpu/cpu1/sched_load_boost -6
    write /sys/devices/system/cpu/cpu2/sched_load_boost -6
    write /sys/devices/system/cpu/cpu3/sched_load_boost -6

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 614400

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_load 85
    #write /sys/devices/system/cpu/cpufreq/policy4/schedutil/up_rate_limit_us 500
    #write /sys/devices/system/cpu/cpufreq/policy4/schedutil/down_rate_limit_us 20000

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600

    # Enable min frequency adjustment for big cluster
    write /sys/module/big_cluster_min_freq_adjust/parameters/min_freq_cluster 4-7
    write /sys/module/big_cluster_min_freq_adjust/parameters/min_freq_adjust Y

    # sched_load_boost as -6 is equivalent to target load as 85.
    write /sys/devices/system/cpu/cpu4/sched_load_boost -6
    write /sys/devices/system/cpu/cpu5/sched_load_boost -6
    write /sys/devices/system/cpu/cpu7/sched_load_boost -6
    write /sys/devices/system/cpu/cpu6/sched_load_boost -6

    # re-enable thermal & BCL core_control
    write /sys/module/msm_thermal/core_control/enabled 1

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,mincpubw/governor cpufreq

    write /sys/class/devfreq/soc:qcom,cpubw/governor bw_hwmon
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1611 3221 5859 6445 7104"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20 
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/down_thres 80
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    # Set b.L scheduler parameters
    write /proc/sys/kernel/sched_group_downmigrate 80
    write /proc/sys/kernel/sched_group_upmigrate 90
    write /proc/sys/kernel/sched_downmigrate 76
    write /proc/sys/kernel/sched_upmigrate 86
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 1

    # ZRAM setup
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

on fs
    write /proc/sys/vm/swappiness 100

on post-fs-data
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0rpmb/bdi/read_ahead_kb 128
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 128
    # Set aggressive read ahead for dm-0 and dm-1 during boot up
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

# Disable console_suspend to get better logging for kernel crashes
on boot
    write /sys/module/printk/parameters/console_suspend N

on property:sys.boot_completed=1
    # Enable low power mode
    write /sys/module/lpm_levels/parameters/sleep_disabled N

    # cpuset
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    # Reset read ahead for dm-0 and dm-1 to 128kb
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128

    # Let kernel know our image version/variant/crm_version
    write /sys/devices/soc0/select_image 10
    write /sys/devices/soc0/image_version "10:${ro.build.id}:${ro.build.version.incremental}"
    write /sys/devices/soc0/image_variant "${ro.product.name}-${ro.build.type}"
    write /sys/devices/soc0/image_crm_version "${ro.build.version.codename}"

    # Enable ZRAM
    swapon_all /vendor/etc/fstab.qcom

# If UART is on, enable console_suspend on boot_complete to save power
on property:sys.boot_completed=1 && property:init.svc.console=running
    write /sys/module/printk/parameters/console_suspend Y
